.sortTabs {
  width: fit-content;
  height: fit-content;
}

.buttonPrice,
.buttonDuration,
.buttonOptimal {
  width: 180px;
  height: 50px;
  border: 1px solid #cccc;
  background-color: $basic-color;
  cursor: pointer;
  &.active {
    background-color: $second-basic-color-text;
  }
}

.buttonDuration {
  border-left: none;
  border-right: none;
}

.cheap,
.fast,
.optimal {
  width: 168px;
  height: 20px;
  color: $basic-color-texts;

  &.active {
    color: $basic-color;
  }
}
