.transplantFilter {
  width: 232px;
  height: 252px;
  border: 1px solid #cccc;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: $basic-color;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 5px;
  padding-left: 15px;
  font-weight: 20;
}

.header {
  width: 192px;
  height: 12;
  color: $basic-color-texts;
  font-weight: normal;
  white-space: nowrap;
}

.transplantInput {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-bottom: 5px;
}

.transplantInputVariants {
  width: 192px;
  height: 12px;
  margin-left: 8px;
  color: $basic-color-texts;
}
