:root {
  background-color: #f3f7fa;
}

.app {
  display: grid;
  justify-content: center;
  grid-template-areas:
    'logoAviasales logoAviasales'
    'transplantFilter sortTabs'
    'transplantFilter tickedCard';
  column-gap: 20px;
  row-gap: 20px;
  width: 1200px;
  min-height: 100vh;
}

.sortTabs {
  grid-area: sortTabs;
}

.tickedCard {
  grid-area: tickedCard;
}

.transplantFilter {
  grid-area: transplantFilter;
}

.logoAviasales {
  grid-area: logoAviasales;
  display: flex;
  justify-content: center;
}
