.ticketCard {
  border: 1px solid #cccc;
  border-radius: 6px;
  width: auto;
  height: auto;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: $basic-color;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.segmentTo,
.segmentBack {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.segmentTo {
  margin-bottom: 15px;
}

.logo {
  width: 110px;
  height: auto;
}

.price {
  width: 294px;
  height: 46px;
  color: $second-basic-color-text;
  font-weight: bolder;
}

.direction,
.number,
.travel,
.directionBack,
.travelBack,
.numberBack {
  color: #a0b0b9;
}

.time,
.stops,
.duration,
.timeBack,
.stopsBack,
.durationBack {
  color: $basic-color-texts;
}

.directionAndtime,
.travelDuration,
.numberStops,
.directionAndtimeBack,
.travelDurationBack,
.numberStopsBack {
  width: 140px;
  height: 38px;
}

.diffTimeZone {
  margin-left: 2px;
  font-size: 15px;
  font-weight: 600;
  color: $second-basic-color-text;
}
